<!DOCTYPE html>
<html>
<head>
  <title>ShareRecipe</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'styles' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="page-content-wrapper">
    <div id="container" class="page-content">
      <p class="flash">
        <%= flash.notice %>
      </p>
      <div id="content">
        <%= yield %>
        <hr>
        <% if logged_in? %>
          <%= "Logged in as #{current_user.email}" %>
          <%= link_to "Logout", logout_path, class: "btn btn-primary" %>
        <% else %>
          <%= link_to "Login", login_path, class: "new_article btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
</body>
</html>
